<header class="header">
  <div class="header_container">
    <nav>
      <ul class="navbar">
        <li class="navbar_link-wrapper">
          <a class="navbar_link" routerLinkActive="active" routerLink="/" [routerLinkActiveOptions]="{ exact: true }">
            Home
          </a>
        </li>
        <li class="navbar_link-wrapper">
          <a class="navbar_link" routerLinkActive="active" routerLink="/info">
            Info
          </a>
        </li>
        <li class="navbar_link-wrapper">
          <a class="navbar_link" routerLinkActive="active" routerLink="/projects">
            Projects
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
