<section class="projects">
  <h2 class="projects_title">My latest projects:</h2>
  <ul class="projects_box ">
    <li class="projects_item ">
      <strong>SWHub</strong> - an application based on SWAPI created to help StarWars fans find all required info about StarWars Universe
      <a

        href="https://denistvardovskiy.github.io/SWPortal/"
        target="_blank"
      >
        [Link]
      </a>
    </li>
    <li class="projects_item">
      <strong>BloodBucket</strong> - an application/platform for blood donors.  (Team project)
      <a
        href="https://github.com/DenisTvardovskiy/BeetrootHackaton"
        target="_blank"
      >
        [Link]
      </a>
    </li>
    <li class="projects_item">
      <strong>EcoSpace</strong> - booking application for first Glamping in Ukraine.  (Team project)

      <a
        href="https://dev-ecospace.000webhostapp.com/"
        target="_blank"
      >
        [Link]
      </a>
    </li>

  </ul>

</section>
